li{
    border: 1px solid black;
    text-decoration: none;
    display: flex;
     
    width: 100%;
    font-size: 30px;
}
p{  margin: 0;
    border: 1px solid blue;
    width: 200px;
}
.first{
    padding-left: 20px;
    padding-right: 100px;
}
span{
    padding-left: 30px;
}
.active{
    color:greenyellow;
}
.nonactive{
    color: white;
}
.active-p{
    text-decoration: line-through;
}

 